/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

spec/support/dummy/tmp/*
spec/support/dummy/log/*
spec/support/dummy/db/*

Gemfile.lock

.byebug_history
/.history/*
*.gem
